@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$primary: black ;
$break-small: 820px;
$break-extrasmall: 420px;
body, html {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "iface";
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
   overflow: hidden;
}
.media  {

transition-delay: 0.5s;
    
        display: block; 
        margin-left:10%;
        margin-top: 50px; 
        background: none;
    padding: 15px 20px;
    font-size: 1.7em;
    outline: 0;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat';
    cursor: pointer;
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
            @media screen and (max-width: $break-small) {
              margin: 0 auto;
                 }
}
a {
    color: $primary;
    text-decoration: none;
}

p {
    line-height: 25px;
}
img {
    width: 30px;
    transform: translate(0px,4.5px);
    margin-right: 10px;
  }
#app {
    grid-area: iface;
    width: 90%;
    max-width: 1500px;
    height: 90%;
    @media screen and (max-width: $break-small) {
        width: 100%;
        height: 100%
         }
    .container {
        background: #fff;
        box-shadow: 15px 15px 40px lightgray;
        overflow: hidden;
        height: 100%;

        .inner {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 100%;

            nav {
                display: grid;
                grid-template-columns: 200px auto;
                grid-template-areas:
                "logo nav";
                padding: 50px;
                position: absolute;
                z-index: 4;
                width: 92%;
                transition: ease all .5s;
                @media screen and (max-width: $break-extrasmall) {
                    display: flex;
                    justify-content: space-around;
          
                     }
                     @media screen and (max-width: $break-small) {
                        grid-template-columns: 200px auto;
                        padding: 28px;
                         }
                #logo {
                    grid-area: logo;
                    font-weight: 700;
                    text-transform: uppercase;
                    @media screen and (max-width: $break-small) {
                        display: none;
       }
                }
                #logo1 {
                    display: none;
                    @media screen and (max-width: $break-small) {
                                     display: block;
                    }
                  }
                 
                ul {
                    grid-area: nav;
                    list-style-type: none;
                    justify-self: right;
                    margin: 0;

                    li {
                        display: inline;

                        a {
                            color: #000;
                            font-size: .7em;
                            text-transform: uppercase;
                            padding: 0 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.main-content {
    height: 100%;
    display: grid;
    grid-template-columns: 42% auto;
    grid-template-areas:
    "left right";
    transition: ease all .5s;
    @media screen and (max-width: $break-small) {
        width: 100%;
        height: 100%;
        grid-template-columns: 100% auto;
         }
    .left-content {
        padding: 100px 50px 15px 50px;

        h1 {
            color: $primary;
            font-size: 3.2em;
            line-height: 1em;
        }
    }

    .right-content {
        position: relative;
        
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
    }
}

.arrow {
    width: 43px;
    position: absolute;
    left: -21px;
    @media screen and (max-width: $break-small) {
        left: -132px;
         }
}

  
.arrow-down {
    bottom: 10vh;
    -webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes slide-in-blurred-bottom{0%{-webkit-transform:translateY(2000px) scaleY(2.5) scaleX(.2);transform:translateY(1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-bottom{0%{-webkit-transform:translateY(1000px) scaleY(2.5) scaleX(.2);transform:translateY(1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}
.arrow-up {
position: absolute;
        top: 10%;
        z-index: 10;
    
    -webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            @media screen and (max-width: $break-small) {
               top: 84.7vh;
              left: -85vw;

                 }
        }

  @-webkit-keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-2000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}
  button {
    background: none;
    padding: 15px 20px;
    font-size: 1.7em;
    outline: 0;
    border: 1px solid #fff;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat';
    cursor: pointer;
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

.slideUp {
    animation: slideUpAnim 3s forwards;
    opacity: 0;
}

@keyframes slideUpAnim {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 100;
        transform: translateY(0);
    }
}


  
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.fade-leave-active {
    -webkit-animation: flip-out-hor-bottom 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: flip-out-hor-bottom 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes flip-out-hor-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}100%{-webkit-transform:rotateX(-70deg);transform:rotateX(-70deg);opacity:0}}@keyframes flip-out-hor-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}100%{-webkit-transform:rotateX(-70deg);transform:rotateX(-70deg);opacity:0}}
.fade-enter-active {
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}@keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    cursor: pointer;
  }
  .bm-burger-bars {
    background-color: #373a47;
  }
  .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }
  .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
  .bm-cross {
    background: #bdc3c7;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(63, 63, 65); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .bm-item-list {
    color: #b8b7ad;
    margin-left: 10%;
    font-size: 20px;
  }
  .bm-item-list > * {
    display: flex;
    text-decoration: none;
    padding: 0.7em;
  }
  .bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
  }